.lessonsContainer {
  margin-top: 2%;
}

.privateTitle {
  text-align: right;
  font-size: 2.25rem;
  font-weight: 600;
  color: #65ca73;
}

.groupTitle {
  text-align: left;
  font-size: 2.25rem;
  font-weight: 600;
  color: #65ca73;
}

.privateLessonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image {
  max-width: 50%;
}

.privateLessonsFormContainer {
  width: 100%;
  margin-left: 2%;
}

@media screen and (max-width: 900px) {
  .privateTitle,
  .groupTitle {
    text-align: center;
  }
}
